<h1 align=center><font size = 5>Chicago Datasets</font></h1>

# Objectives:

-Loading 3 Chicago datasets into dataframes  
-Excecuting SQL queries

## Datasets: 
These datasets that are available on the city of Chicago's Data Portal:
1. <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2">Socioeconomic Indicators in Chicago</a>
1. <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t">Chicago Public Schools</a>
1. <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2">Chicago Crime Data</a>

### 1. Socioeconomic Indicators in Chicago
This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.

### 2. Chicago Public Schools

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year.

### 3. Chicago Crime Data 

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days.

### Download the datasets
Below is the subset of datasets mentioned above:
1. __CENSUS_DATA:__ https://ibm.box.com/shared/static/05c3415cbfbtfnr2fx4atenb2sd361ze.csv
1. __CHICAGO_PUBLIC_SCHOOLS__  https://ibm.box.com/shared/static/f9gjvj1gjmxxzycdhplzt01qtz0s7ew7.csv
1. __CHICAGO_CRIME_DATA:__ https://ibm.box.com/shared/static/svflyugsr9zbqy5bmowgswqemfpm1x7f.csv

### Connecting to the database

In [3]:
%load_ext sql

In [7]:
# Remember the connection string is of the format:
# %sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name
# Enter the connection string for your Db2 on Cloud database instance below
%sql ibm_db_sa://ccr52225:sm%5E7118b08fr3l7g@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB

(ibm_db_dbi.OperationalError) ibm_db_dbi::OperationalError: [IBM][CLI Driver] SQL30082N  Security processing failed with reason "24" ("USERNAME AND/OR PASSWORD INVALID").  SQLSTATE=08001 SQLCODE=-30082
(Background on this error at: http://sqlalche.me/e/e3q8)
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

## SQL Queries:

In [ ]:
##### Total number of crimes recorded in the CRIME table

In [5]:
# Rows in Crime table
%sql select count(*) from CHICAGO_CRIME_DATA_;

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

##### First 10 rows from the CRIME table

In [6]:
%sql select * from CHICAGO_CRIME_DATA_ limit 10;

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

##### Crimes involve an arrest

In [6]:
%sql select count(*) from CHICAGO_CRIME_DATA_ where arrest = TRUE;

 * ibm_db_sa://ccr52225:***@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('163'),)]

##### Unique types of crimes have been recorded at GAS STATION locations

In [7]:
%sql select  distinct(primary_type) as Crimes from CHICAGO_CRIME_DATA_ where LOCATION_DESCRIPTION ='GAS STATION';

 * ibm_db_sa://ccr52225:***@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB
Done.

[('CRIMINAL TRESPASS',), ('NARCOTICS',), ('ROBBERY',), ('THEFT',)]

##### In the CENUS_DATA Table, Community Areas whose names start with the letter ‘B’.

In [8]:
%sql select COMMUNITY_AREA_NAME from Census_Data_ where community_area_name like 'B%' ;

 * ibm_db_sa://ccr52225:***@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB
Done.

[('Belmont Cragin',),
 ('Burnside',),
 ('Brighton Park',),
 ('Bridgeport',),
 ('Beverly',)]

##### Schools, in Community Areas 10 to 15, are healthy school certified

In [9]:
%sql select NAME_OF_SCHOOL from Chicago_Public_Schools_ where COMMUNITY_AREA_NUMBER between 10 and 15 and HEALTHY_SCHOOL_CERTIFIED = 'Yes';

 * ibm_db_sa://ccr52225:***@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB
Done.

[('Rufus M Hitch Elementary School',)]

##### The average school Safety Score

In [10]:
%sql select avg(safety_score) as AVG_SAFETY_SCORE from Chicago_Public_Schools_;

 * ibm_db_sa://ccr52225:***@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('49.504873'),)]

##### The top 5 Community Areas by average College Enrollment [number of students]

In [44]:
%sql select avg(college_enrollment) as Avg_Col_Enrollment, community_area_name from Chicago_Public_Schools_ group by community_area_name order by avg(college_enrollment) desc limit 5;

 * ibm_db_sa://ccr52225:***@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('2411.500000'), 'ARCHER HEIGHTS'),
 (Decimal('1317.000000'), 'MONTCLARE'),
 (Decimal('1233.333333'), 'WEST ELSDON'),
 (Decimal('1205.875000'), 'BRIGHTON PARK'),
 (Decimal('1198.833333'), 'BELMONT CRAGIN')]

##### Community Area has the least value for school Safety Score

In [61]:
%sql select COMMUNITY_AREA_NAME, safety_score from Chicago_Public_Schools_ where safety_score = (select min(safety_score) from Chicago_Public_Schools_);

 * ibm_db_sa://ccr52225:***@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB
Done.

[('WASHINGTON PARK', 1)]

##### The Per Capita Income of the Community Area which has a school Safety Score of 1.

In [60]:
%sql select PER_CAPITA_INCOME from census_data_ where COMMUNITY_AREA_Number = (select COMMUNITY_AREA_Number from chicago_Public_schools_ where safety_score = '1');

 * ibm_db_sa://ccr52225:***@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB
Done.

[(13785,)]